<h1>Angular Items</h1>
<%= link_to "Create a new item", new_portfolio_path %>
<% @angular_portfolio_items.each do |portfolio_item| %>
  <h2>This the title - <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></h2> 
  <h3><%= portfolio_item.subtitle %></h3> 
  <p><%= portfolio_item.body %></p> 
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
  <%= link_to "Edit this item",  edit_portfolio_path(portfolio_item) %>
  <%= link_to 'Delete this item', portfolio_path(portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } %><hr>

<% end %>