<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image.to_s, width: '100%' %> <br>
      <%= link_to "Edit this item", edit_portfolio_path if logged_in?(:site_admin) %>
    </div>
    <div class = "col-md-5">
      <h1><%= @portfolio_item.title %> </h1>
      <em> <%= @portfolio_item.subtitle %> </em>
      <hr>
      <p> <%= @portfolio_item.body %></p>
      <hr>
      <h3> Technologies used</h3>
      <% @portfolio_item.technologies.each do |t| %>
      <p> <%= t.name =%> </p>
      <% end %>
    </div>
  </div>
</div>
